*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: rgb(212, 214, 212); ;
}

section{
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    margin-top: 150px;
}

.image-box{
    width: 60%;
    margin-left: 0;
}
.section{
    margin-left: 40px;
}

.text{
    text-align: end;
    width: 20%;
}

img{
   max-width: 85% ; 
   width:389;
   height: 487;
   
}
.section2{
    float: right;
    justify-content: space-between;
}

.clearfix{
    clear: both;
}


#right-text{
    text-align: left;
    margin-left: 0;
}


#diffimg{
    margin-left: 0;
    margin-bottom: 150px;
}

.review{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.details{
    font-size: 20px;
}

.name{
    font-size: 40px;
    color: rgb(177, 14, 14);
}

a{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
a:hover{
    color: #000;
    border-bottom: 2px solid #000;
}

h4{
    color: rgb(175, 119, 119);
}
