*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: rgb(212, 214, 212); ;
}

section{
    display: flex;
    justify-content: space-between;

    width: 100%;
    align-items: center;
    margin-top: 100px ;
}

.image-box{
    width: 90%;
    margin: 0;
}


.text{
    text-align: right;
    width: 100%;
}

img{
   max-width: 100% ; 
   
   
}
.section2{
    float: right;
    justify-content: space-between;
    margin-bottom:50px  ;
}

.clearfix{
    clear: both;
}


#right-text{
    text-align: right;
    
}



.review{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.details{
    font-size: 20px;
}

.name{
    font-size: 40px;
    color: rgb(177, 14, 14);
}

a{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
a:hover{
    color: #000;
    border-bottom: 2px solid #000;
}

h4{
    color: rgb(175, 119, 119);
}

 @media(max-width: 760px){

    

    section{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 50px;
    
    }
    .text{
      display: block;
      width: 100%;
      text-align: left;
    }
    img{
        display: block;
        width: 100%;
    }

    #diffimg{
        float: right;
    }

    #righttext{
        float: right;
    }
    .section2{
        margin: 0;
        margin-bottom: 100PX;
    }


       
 }
    
    

    



