
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.brand_logo{
    text-decoration: none;
    color: #0e4f1f;
    font-size: 32px;
    font-weight: bold;
}

.main-nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 116px);
    ;
}

.main-nav-links{
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-nav-link{
    display: inline-block;
    margin: 0 16px;
}

.main-nav-link > a{
    text-decoration: none;
    color: #0e4f1f;
}

.main-nav-link-cta > a{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 16px;
}

.main-nav-link > a:hover{
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
}

.main-nav-link-cta > a:hover{
    color: red;
    background-color: #ffffff;
    border: none;
}

.background{
    background-image: url(package.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}


body{
    margin: 0;
}



main{
    margin-top: 130px ;
}

.package{
    border: 4px solid #0e4f1f;
    margin: 16px 0;
    width: 85%;
    background-color: #1ce050;
    border-left: none;
}

.package a{
    text-decoration: none ;
    color: inherit;
    padding: 24px;
    display: block;

}

.package:hover{
    border-color:red;
    box-shadow: 2px 2px 16px rgba(0, 0, 0,0.5);
}

.package_subtitle{
    color: #979797;
}

.package_info{
    color: #0e4f1f;
    border: 1px solid #0e4f1f ;
    background-color: white;
    padding: 16px;
}

#plus{
    background-color: rgba(213, 255, 220,0.9);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
    position: relative;
    
}

.clearfix{
    clear: both;
}

#plus:hover{
    border-left-color: red;
}

.recommended{
    position: absolute;
    top: 8px;
    color: #ffffff;
    background-color: red;
    padding: 8px;
}

.brand_logo:hover{
    color: #000;
    border-bottom: 2px solid #000;
}

@media (max-width:760px) {
    .recommended{
        position: initial;
        
    }

        .main-nav-links{
            max-width: 100%;
            justify-content: space-between;
        }
    
        .main-nav-link{
            max-width: 100%;
            justify-content: space-between;
            margin: 0;}
    
}